@import "../../styles/_vars";

.circle {
  border: 2px solid $white-text;
  height: 75px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 75px;
  color: $white-text;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.number {
  margin: 0;
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: '768px') {
  .number {
    margin: 0;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}