@import "../../styles/_vars";

.videoSectionContainer {
  padding: 2rem;
  background-color: #232323;
}

.videoSectionTitle {
  color: $white-text;
  font-weight: 400;
}

.videoCircle {
  text-align: center;
  color: $white-text;
}

.videoImgCircle {
  border-radius: 100%;
}

.videoImgCircle:hover {
  background-color: $border-red; 
}

@media screen and (min-width: '768px') {
  .circleVideosContainer {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
}